black==22.3.0
pylama==8.3.8
yamllint==1.26.3
bandit==1.7.4
requests==2.27.1
pandas==1.4.1
python-dotenv==0.19.2
mypy==0.942
nox==2022.1.7
types-python-dateutil==2.8.10
types-requests==2.27.16
data-science-types==0.2.23